<app-header [mode]="'Home'"></app-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/intro.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Najlepšia pizza v meste</ion-card-subtitle>
        <ion-card-title>Pizza Frodo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ste tu správne! Okrem dokonale chutnej pizze u nás nájdete produkty rôzneho druhu ktoré Vám doručíme až domov</p>
      </ion-card-content>
    </ion-card>
    <!--<ion-list lines="none">-->
      <!--<ion-item *ngIf="auth.isLoggedIn && auth.isAdminUser">-->
          <!--<ion-button routerLink="/allpizzas/new">-->
              <!--<ion-icon name="add"></ion-icon>-->
              <!--Add new pizza-->
          <!--</ion-button>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
          <!--<ion-button routerLink="/allpizzas">-->
              <!--<ion-icon name="pizza"></ion-icon>-->
              <!--All pizzas-->
          <!--</ion-button>-->
      <!--</ion-item>-->
        <!--<ion-item>-->
            <!--<ion-button routerLink="/cart">-->
                <!--<ion-icon name="cart"></ion-icon>-->
                <!--Cart-->
            <!--</ion-button>-->
        <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>
